@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
    font-family: 'Montserrat', sans-serif;
}

.fortal {
    color: black;
    font-weight: bold;
}

.motors {
    color: #003366;
    font-weight: bold;
}

.user{
    color: #003366;
    font-weight: bold;
}

.carousel-control-prev{
    border: 0px;
}


.carousel-control-next{
    border: 0px;
}

.product-image {
    height: 400px; 
    object-fit: contain; 
    border-radius: 5px;
}

.btn-default{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:  5px;
	border: 1px solid #003366;
	background-color: #003366;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    height: 40px;
}

.carousel-inner {
    max-height: 400px;
    overflow: hidden; 
}

.product-info, .message-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
}

.btn-highlight {
    background-color: #007bff;
    color: white;
    border-radius: 15px;
    font-size: 12px;
    padding: 3px 8px;
    margin-right: 10px;
}

.btn-heart {
    color: red;
    font-size: 20px;
}

.price {
    font-size: 26px;
    font-weight: bold;
    color: #003366;
}

.message-box {
    max-width: 100%;
}

.btn-block{
    background-color:#003366;
    font-weight: bold;
    font-size: 13px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.navbar-brand {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.logo {
    height: 40px;
    width: 60px;
    border-radius: 50%;
}

.navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
    margin-right: 20px;
}

.user-icon img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
